.login-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.login-page__content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки */
  gap: 30px;
  align-items: start; /* Выровнять элементы по верхнему краю */
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.login-page__left {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Расстояние между заголовком и картинкой */
}

/* Адаптивность для мобильной версии */
@media (max-width: 720px) {
  .login-page__content {
    grid-template-columns: 1fr; /* Одна колонка */
    gap: 20px;
  }

  .login-page__left {
    align-items: center;
  }
}
