.footer {
    display: flex;
    justify-content: space-between; /* Разделение элементов */
    align-items: center; /* Вертикальное выравнивание */
    height: 175px; /* Высота блока */
    background-color: var(--primary-color); /* Цвет фона */
    padding: 0 50px; /* Внешние отступы для внутреннего контента */
    color: #ffffff; /* Белый цвет текста */
    font-family: 'Inter', sans-serif; /* Шрифт Inter */
    font-size: 14px; /* Размер шрифта */
    line-height: 1.5; /* Межстрочный интервал */
  }
  
  .footer__logo img {
    height: 50px; /* Задаём высоту логотипа */
  }
  
  .footer__info {
    text-align: right; /* Выравнивание текста по правому краю */
  }
  
  .footer__info p {
    margin: 0; /* Убираем внешние отступы */
  }
  